
header { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	
}

a.top {

	color: white;
	text-decoration: none;
	font-weight: bold;

}

a.top:hover {

	color: grey;

}

a.current {

	color: white;
	text-decoration: none;
	font-weight: bold;

}

a.current:hover {

	color: grey;

}


header {

	background: #1F1F1F ;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid grey;
	z-index: 100;

}

#logo{

	margin: 20px;
	float: left;
	width: auto;
	height: 30px;
	background:  no-repeat center;
	display: block;

}

nav.top {

	float: right;
	padding: 20px;	
	
}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: grey url(../img/menu-icon.png) center;

}

a.top:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}
a.current:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul.top {

	list-style: none;

}

li.top {

	display: inline-block;
	float: left;
	padding: 10px

}









/*MEDIA QUERY*/
@media only screen and (max-width : 680px) {

	header {

		position: fixed;

	}

	#menu-icon {

		display:inline-block;

	}

	nav.top ul.top, nav.top:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #1F1F1F;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav.top li.top {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav.top:hover ul {

		display: block;

	}}